<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>FestFace</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato|Noto+Serif+KR" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'event/css/mystyles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a href="#" class="navbar-brand">Festface</a>
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
          <li class="nav-item"><a href="#" class="nav-link">Hello, {{user.username}}</a></li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url 'eventsindex' %}" class="nav-link">Events</a></li>
        {% if user.is_authenticated %}
          <li class="nav-item"><a href="{% url 'festmeta' %}" class="nav-link">Create Event</a></li>
          <li class="nav-item"><a href="{% url 'dashboard' %}" class="nav-link">Dashboard</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Account
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Register/login</a></li>
        {% endif %}
      </ul>
    </nav>
    {% block body %}
    {% endblock %}
    <footer class="myfooter">
      <div class="row" style="margin:0px;" id="footer-content">
        <div class="col-lg-3" style="text-align: justify">
          <div class="footer-heading">
            <h5><strong>Festface</strong></h5>
            <hr>
          </div>
          <p style="font-size:14px">Festface is a free college event management online platform developed and maintained by Rouge Nation. Colleges can use this platform for creating and conduting college events whether it is a technical fest or a Freshers day</p>
        </div>
        <div class="col-lg-1">

        </div>
        <div class="col-lg-3">
          <h5><strong>Useful links</strong></h5>
          <hr>
          <ul class="list-unstyled">
            <li><a href="{% url 'festmeta' %}">Create event</a></li>
            <li><a href="#">Search events</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Terms and conditions</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h5><strong>Contact @</strong></h5>
          <hr>
          <ul class="list-unstyled" id="">
            <p>Mohan Chand Peddapuli,</p>
            <li>+91 7036412938</li>
            <li>E-Mail us at: mohanroger63@gmail.com</li>
          </ul>
        </div>
        <div class="col-lg-2">
          <a href="https://www.facebook.com/mohan.chand.902" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
        </div>
      </div>
    </footer>
  </body>
  {% block script %}
  {% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
    $('#datepicker').datepicker({
      uiLibrary: 'bootstrap4',
      format: 'dd-mm-yyyy'
    })
    $('#datepicker1').datepicker({
      uiLibrary: 'bootstrap4',
      format: 'dd-mm-yyyy'
    })
    $(window).scroll(function(){
      if($(this).scrollTop()>1) {
        $(".navbar").addClass("fixed-top");
      }
      else {
        $(".navbar").removeClass("fixed-top");
      };
    })
  </script>
</html>
