{% extends 'event/base.html' %}

{% block body %}
{% load static %}
<div class="mycontainer" id="dashboard">
  <div class="row">
  {% for fest in fests %}
    <div class="col-lg-4">
      <div class="card">
        <h4 class="card-title">{{fest.festname}}</h4>
        <div class="card-body">
          <p>{{fest.description}}</p>
          <p>{{fest.college}}</p>
          <p>{{fest.start_date}}</p>
        </div>
        <div class="card-footer">
          <a href="{% url 'displayfest' fest.id %}">
            <button type="button" name="button">Display</button>
          </a>
          <a href="{% url 'editfest' fest.id %}">
            <button type="button" name="button">Edit</button>
          </a>
          <a href="{% url 'viewregistrations' fest.id %}">
            <button type="button" name="button">View registrations</button>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
